<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Samane MVC | Home Page</title>
		<!-- $url_public variable reference /public/dist/, and this is used for load the assets files like: image, js and css -->
		<link rel="stylesheet" href="{$url_public}css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{$url_public}css/app.css" />
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-primary shadow">
  			<a class="navbar-brand" href="#">
			    <img src="{$url_public}image/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Samane MVC logo" />
			    Samane MVC
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>	
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="{$url_base}">Accueil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item active">
			        <a class="nav-link" href="{$url_base}Test/index">Menu page test</a>
			      </li>
			      <li class="nav-item active">
			        <a class="nav-link" href="{$url_base}Test/getID/1">Menu page test 2</a>
			      </li>
			      <li class="nav-item active">
			        <a class="nav-link" href="{$url_base}Test/liste">Menu page test liste</a>
			      </li>
			    </ul>
			</div>
		</nav>
		<div class="col-md-8 col-12 offset-md-2" style="margin-top:150px;">
			<div class="card border-0 shadow">
				<div class="card-header bg-primary text-white">BIENVENUE A VOTRE MODELE MVC</div>
				<div class="card-body">
					<form method="post" action="{$url_base}Test/update">
						<div class="form-group">
							<label class="form-control-label">ID du test</label>
							<input class="form-control" type="text" name="identity" id="id" value="{if isset($test)} {$test['ID']} {/if}"/>
						</div>
						<div class="form-group">
							<label class="form-control-label">Valeur du test</label>
							<input class="form-control" type="text" name="valeur1" id="valeur1" value="{if isset($test)} {$test['valeur1']} {/if}"/>
						</div>
						<div class="form-group">
							<label class="form-control-label">Valeur2 du test</label>
							<input class="form-control" type="text" name="valeur2" id="valeur2" value="{if isset($test)} {$test['valeur2']} {/if}"/>
						</div>
						<div class="form-group">
							<input class="btn btn-success" type="submit" name="modifier" value="Modifier"/>
							<a class="btn btn-primary" href="{$url_base}Test/liste">Retour</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>